<%- include('partials/header') -%> 


<h1>Look at list here </h1>

<div class="ui raised very padded text container segment">
	<% assets.forEach(stock => { %> 
		<div>
			<li><strong>Company: </strong><%= stock.equity %> </li>
			<li><strong>Ticker: </strong><%= stock.ticker %> </li>
			<li><strong>Rating: </strong><%= stock.rating %> </li>
		</div>
	<% }) %> 
</div>
















<%- include('partials/footer') -%> 